@model List<Book>
@{
    ViewData["Title"] = "Our Books";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>ISBN</th>
        </tr>
    </thead>
</table>

